/* resets */
a {
  color: black;
  text-decoration: none;
}
.nav-item {
  list-style: none;
}
/* utilities */
.spread-sm {
  letter-spacing: 1px;
}
.spread-md {
  letter-spacing: 2px;
}
.spread-lg {
  letter-spacing: 4px;
}
/* body */
body {
  width: 100vw;
  overflow-x: hidden;
}
/* header */
.main-header .navbar {
  height: 100px;
}
.main-header .navbar .container-fluid {
  height: 100%;
}
.navbar-brand {
  height: 100%;
  padding: 0;
}
.header-logo {
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 2px;
}
.main-header .nav-link {
  color: white;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1.4rem;
  border-bottom: 2px solid transparent;
  border-radius: 10px;
  transition: all 300ms ease-in-out;
}
.main-header .nav-link:hover {
  border-bottom: 2px solid white;
}
.main-header div.navbar-collapse.show {
  background-color: rgba(26, 26, 26, 0.893);
  transition: background-color 500ms ease-in-out;
  border-radius: 20px;
  color: white;
}
/* main */

/* section - home */
#home {
  height: 100vh;
  background: url(./media/imgs/landscape/aniston-grace-L3hyEbDk194-unsplash.jpg)
    center/cover no-repeat;
}
#home .container-fluid {
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 20%,
    rgba(0, 0, 0, 0.4) 57%,
    rgba(0, 0, 0, 0.2) 74%
  );
}
.home-contact .fas {
  animation: scale 1s ease-in-out alternate infinite;
}
@keyframes scale {
  from {
    transform: scale(60%);
  }

  to {
    transform: scale(110%);
  }
}
@media only screen and (max-width: 400px) {
  #home p.home-info {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 401px) {
  #home p.home-info {
    font-size: 1.2rem;
  }
}
/* section - about */
.about-profile-pic {
  height: 100%;
  min-height: 400px;
  background: url(./media/imgs/abstral-official-cyOKLSgkgCE-unsplash.jpg)
    top/cover no-repeat;
}
.fa-chevron-down {
  animation: slide-down 1s ease-in-out alternate infinite;
}
@keyframes slide-down {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(8px);
  }
}

/* section - services */
#services .card-img-top {
  height: 500px;
  object-fit: cover;
  object-position: center;
}
/* section - contact */
#contact {
  background: url(./media/imgs/portrait/annie-spratt-lRcoPGrwkv0-unsplash.jpg)
    center/cover no-repeat;
}
/* section - gallery */
#gallery img {
  width: 100%;
  object-position: center;
  object-fit: cover;
}
/* footer */
footer .nav-item {
  background-color: rgba(138, 138, 138, 0.2);
  margin: 10px auto;
  width: 100px;
  border-radius: 3px;
  transition: background-color 300ms ease-in-out;
}
footer .nav-item:hover {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
}
.copyright {
  font-size: 0.8rem;
}
.author {
  font-size: 0.7rem;
}
.author a {
  color: rgb(27, 81, 157);
  font-size: 1rem;
}
